<!--期末-->
<script>
var targetDateB = new Date("Jan 29, 2024 09:00:00").getTime();
var targetDateBB = new Date("Jan 29, 2024 00:00:00").getTime();
var B = setInterval(function() {
  var now = Date.now();
  var distanceBB = targetDateBB - now;
  var distanceB = targetDateB - now;
  var daysBB = Math.floor(distanceBB / (1000 * 60 * 60 * 24))+1 ;
  var daysB = Math.floor(distanceB / (1000 * 60 * 60 * 24)) ;
  var hoursB = Math.floor((distanceB % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + 24 * daysB;
  var minsB = Math.floor((distanceB % (1000 * 60 * 60)) / (1000 * 60));
  var secondB = Math.floor((distanceB % (1000 * 60)) / 1000);
  var msecondB = Math.floor(distanceB % 1000);
  document.getElementById("countdownB").innerHTML ="距离 2024 年 1 月 高一期末考试还有 " + daysBB + " 天（" + hoursB + ":" + minsB + ":" + secondB+ "." + msecondB +"）";
  if (distanceB < 0) {
    clearInterval(B);
    document.getElementById("countdownB").innerHTML = "此倒计时已结束，祝考试顺利。";
  }
}, 73);
</script>

<blockquote class="note-title"><a id="countdownB"></a></blockquote>
<blockquote class="reda"><a>由于访问受阻，此页面不再维护。更多信息请查看</a><a href="/docs/notice/0-停止维护公告.html">这条公告</a><a>。</a></blockquote>
