<!--12月月考-->
<script>
var targetDateA = new Date("Dec 25, 2023 09:00:00").getTime();
var targetDateAA = new Date("Dec 25, 2023 00:00:00").getTime();
var A = setInterval(function() {
  var now = Date.now();
  var distanceAA = targetDateAA - now;
  var distanceA = targetDateA - now;
  var daysAA = Math.floor(distanceAA / (1000 * 60 * 60 * 24))+1 ;
  var daysA = Math.floor(distanceA / (1000 * 60 * 60 * 24)) ;
  var hoursA = Math.floor((distanceA % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + 24 * daysA;
  var minsA = Math.floor((distanceA % (1000 * 60 * 60)) / (1000 * 60));
  var secondA = Math.floor((distanceA % (1000 * 60)) / 1000);
  var msecondA = Math.floor(distanceA % 1000);
  document.getElementById("countdownA").innerHTML ="距离 2023 年 12 月 高一选科指导测试还有 " + daysAA + " 天（" + hoursA + ":" + minsA + ":" + secondA+ ":" + msecondA +"）";
  if (distanceA < 0) {
    clearInterval(A);
    document.getElementById("countdownA").innerHTML = "此倒计时已结束，祝考试顺利。";
  }
}, 73);
</script>

<!--期末-->
<script>
var targetDateB = new Date("Jan 29, 2024 09:00:00").getTime();
var targetDateBB = new Date("Jan 29, 2024 00:00:00").getTime();
var B = setInterval(function() {
  var now = Date.now();
  var distanceBB = targetDateBB - now;
  var distanceB = targetDateB - now;
  var daysBB = Math.floor(distanceBB / (1000 * 60 * 60 * 24))+1 ;
  var daysB = Math.floor(distanceB / (1000 * 60 * 60 * 24)) ;
  var hoursB = Math.floor((distanceB % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + 24 * daysB;
  var minsB = Math.floor((distanceB % (1000 * 60 * 60)) / (1000 * 60));
  var secondB = Math.floor((distanceB % (1000 * 60)) / 1000);
  var msecondB = Math.floor(distanceB % 1000);
  document.getElementById("countdownB").innerHTML ="距离 2024 年 1 月 高一期末考试还有 " + daysBB + " 天（" + hoursB + ":" + minsB + ":" + secondB+ ":" + msecondB +"）";
  if (distanceB < 0) {
    clearInterval(B);
    document.getElementById("countdownB").innerHTML = "此倒计时已结束，祝考试顺利。";
  }
}, 73);
</script>

<blockquote class="note-title"><a id="countdownA"></a></blockquote>
<blockquote class="note-title"><a id="countdownB"></a></blockquote>

